<div class="card" style="width: 50%"> <h1> All our restaurants </h1> </div>

<div class="card" style="width: 50%"">
<% @restaurants.each do |restaurant| %>
  <p> <%= link_to restaurant.name, restaurant_path(restaurant), class: "btn" %> </p>
<% end %>
</div>

<p> <%= link_to "Add a new Restaurant", new_restaurant_path, class: "btn-primary" %> </p>
